repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
    -   id: ruff-check
    -   id: ruff-format
-   repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
    -   id: validate-pyproject
        additional_dependencies:
        - validate-pyproject-schema-store[all]>=2024.11.22
