name: build

on:
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:

  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, windows-11-arm]

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          cache: 'pip'
          python-version: '3.12'

      - name: Build wheels
        run: python -m pip install --upgrade cibuildwheel && cibuildwheel

      - name: Add sdist
        if: runner.os == 'Linux'
        run: |
          python -m pip install --upgrade pip build
          python -m build . --sdist -o wheelhouse

      - uses: actions/upload-artifact@v5
        with:
          name: cx-logging-${{ matrix.os }}
          path: wheelhouse

  publish:
    name: Publish package to PyPI
    if: github.event_name == 'release' && startsWith(github.ref, 'refs/tags')
    needs:
      - build_wheels
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/cx-Logging
    permissions:
      id-token: write
    steps:

      - name: Download all artifacts
        uses: actions/download-artifact@v6
        with:
          path: wheelhouse
          pattern: cx-logging-*
          merge-multiple: true

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: wheelhouse/
          skip-existing: true
          verbose: true
